@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
}

body{
    min-height: 100vh;
    background: url(img/background/dream2.png) no-repeat top center / cover;
    background-attachment: fixed;
    font-family: "Inter", sans-serif;
    color:rgb(159, 192, 195);
    overflow-x: hidden;
}

nav{
    background-color: rgba(2, 29, 52, 0.621);
    position: sticky;
    top:0;
    z-index: 998;
    backdrop-filter: blur(10px);
}

a{
    color: white;
    text-decoration: none;
}

button{
    background-color: rgba(113, 255, 255, 0.803);
    margin:1rem;
    padding:1.1rem;
    border-radius: 30px;
    border: 1px rgba(0, 48, 48) solid;
    filter: drop-shadow(0 1 5px black);
    backdrop-filter: blur(2px);
    color: rgb(0, 48, 48);
    font-weight: bolder;
    font-size:18px;
    max-width:50%;
    transition: 0.9s;
}

button:hover{
    transform:scale(105%);
    filter: drop-shadow(0 0 5px rgb(255, 255, 255));
}

.disp{
    display: flex;
    flex-direction: column;
}

.low{
    margin:20px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.688);
    border: 1px white solid;
    border-radius: 5px;
    transition: 0.9s ease;
    width: 50%;
    margin-left: auto;
    justify-content: center;
}

.low:hover{
    filter: drop-shadow(0 0 2px white);
    background-color: rgba(0, 68, 255, 0.174);
}

nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav li{
    height: 50px;
}

nav a{
    height: 100%;
    padding: 0 30px;
    display: flex;
    align-items: center;
    gap:9px;
    transition: 0.8s ease;
}

nav img{
    padding-top: 85px;
    filter: drop-shadow(0 0 2px black);
    transition: 0.9s ease;
}

nav a:hover{
    filter: drop-shadow(0 0 5px rgb(255, 255, 255));
    transform: scalex(101%);
}

nav a.active{
    filter:drop-shadow(0 0 5px white);
    box-shadow: 0 1px 3px white;
}

.logo:hover{
    filter: drop-shadow(0 0 10px rgba(0, 103, 117, 0.664));
    transform: scale(105%);
}

nav li:first-child{
    margin-right: auto;
}

nav .sidebar{
    position: fixed;
    top:0;
    right: 0;
    height: 100vh;
    width:200px;
    z-index: 9999;
    background-color: rgba(0, 0, 0, 0.9);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.314);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

nav .sidebar li{
    width: 100%;
}

nav .sidebar a{
    width: 100%;
}

.menu{
    display: none;
}

h1, h3, h4{
    color: rgb(180, 255, 254);
    filter: drop-shadow(0 0 5px black);
}

/*-Hero------------------------------------*/

#hero{
    margin-top:2rem;
    margin-bottom: 2rem;
    padding: 2rem;
}

#hero h1{
    font-size: clamp(50px,8vw,70px);
    padding:10px;
    justify-self: center;
    text-align: center;
}

#hero p{
    margin-left: 4vh;
    filter: drop-shadow(0 0 4px black)
}

#hero h4{
    justify-self: center;
}

#hero h3{
    margin-top: clamp(3rem,30vh,8rem);
}

#hero div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*-Section1-----------------------------------*/

.sect1{
    width: 100%;
    background-color: black;
}

.sect1 h1{
    color: #00d7d7;
}

#WdnWd{
    padding:1rem;
    display: flex;
    flex-direction: column;
    text-align: center;
}

WdnWd hr{
    background-color: aqua;
    width: 70%;
}

.divider {								
    display: table; 
    font-size: 24px; 
    text-align: center; 
    width: 75%; 						
    margin: 0px auto 30px;
}

.divider span { 
    display: table-cell; 
    position: relative; 
    
}
.divider span:first-child, .divider span:last-child {
    width: 49%;
    top: 13px;							
    background-size: 100% 2px; 			/* line width */
    background-position: 0 0, 0 100%;
    background-repeat: no-repeat;
}
.divider span:first-child {	
    background-image: linear-gradient(90deg, transparent, #00d7d7);
}
.divider span:nth-child(2) {
    color: #00d7d7; padding: 0px 5px; width: auto; white-space: nowrap;
}
.divider span:last-child {				
    background-image: linear-gradient(90deg, #00d7d7, transparent);
}

.biList{
    margin-bottom:2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
/*-Media-----------------------------------*/
@media(max-width: 1050px){
    .hideOnMobile{
        display: none;
    }
    .menu{
        display: block;
    }
}
@media(max-width:
 400px){
    .sidebar{
        width: 100%;
    }
    .low{
        margin-top: 70px;
        width: 80vw;
    }
}