@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    
}

html{
    scroll-behavior: smooth;
}

body{
    min-height: 100vh;
    background: url(img/background/dream2.png) no-repeat top center / cover;
    background-attachment: fixed;
    font-family: "Inter", sans-serif;
    color:rgb(159, 192, 195);
    overflow-x: hidden;
}

nav{
    background-color: rgba(2, 29, 52, 0.621);
    position: sticky;
    top:0;
    z-index: 998;
    backdrop-filter: blur(10px);
}

a{
    color: white;
    text-decoration: none;
}

p{
    letter-spacing: -0.5px;
    word-spacing: -0.5px;
    line-height: 24px;
}



.button{
    background-color: rgba(113, 255, 255, 0.803);
    margin:1rem;
    padding:1.1rem;
    border-radius: 30px;
    border: 1px rgba(0, 48, 48) solid;
    filter: drop-shadow(0 1 5px black);
    backdrop-filter: blur(2px);
    color: rgb(0, 48, 48);
    font-weight: bolder;
    font-size:18px;
    max-width:50%;
    transition: 0.9s;
}

.button:hover{
    transform:scale(105%);
    filter: drop-shadow(0 0 5px rgb(255, 255, 255));
}

.disp{
    display: flex;
    flex-direction: column;
}

.low{
    margin:20px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.688);
    border: 1px white solid;
    border-radius: 5px;
    transition: 0.9s ease;
    width: 50%;
    margin-left: auto;
    justify-content: center;
}

.low:hover{
    filter: drop-shadow(0 0 2px white);
    background-color: rgba(0, 68, 255, 0.174);
}

nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav li{
    height: 50px;
}

nav a{
    height: 100%;
    padding: 0 30px;
    display: flex;
    align-items: center;
    gap:9px;
    transition: 0.8s ease;
}

nav img{
    padding-top: 85px;
    filter: drop-shadow(0 0 2px black);
    transition: 0.9s ease;
}

nav a:hover{
    filter: drop-shadow(0 0 5px rgb(255, 255, 255));
    transform: scalex(101%);
}

nav a.active{
    filter:drop-shadow(0 0 5px white);
    box-shadow: 0 1px 3px white;
}

.logo:hover{
    filter: drop-shadow(0 0 10px rgba(0, 103, 117, 0.664));
    transform: scale(105%);
}

nav li:first-child{
    margin-right: auto;
}

nav .sidebar{
    position: fixed;
    top:0;
    right: 0;
    height: 100vh;
    width:200px;
    z-index: 9999;
    background-color: rgba(0, 0, 0, 0.9);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.314);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

nav .sidebar li{
    width: 100%;
}

nav .sidebar a{
    width: 100%;
}

.nav-link {
  padding: 10px 20px;
  text-decoration: none;
  color: white;
  transition: all 0.3s ease;
}

.nav-link.active {
  color: #fff;
  text-shadow: 0 0 2px #ffffff;
  box-shadow: 0 0 5px #ffffff;
}

.menu{
    display: none;
}

h1, h3, h4{
    color: rgb(180, 255, 254);
    filter: drop-shadow(0 0 5px black);
    justify-self: center;
    text-align: center;
}

.st1{
    background-color: rgba(0, 0, 0, 0.616);
    backdrop-filter: blur(10px);
}

/*-Hero------------------------------------*/

#hero{
    margin-top:0;
    margin-bottom: 0r;
    padding: 2rem;
}

#hero h1{
    font-size: clamp(50px,8vw,70px);
    padding:10px;
}

#hero p{
    margin-left: auto;
    color: rgb(12, 255, 231);
    filter: drop-shadow(0 0 4px rgb(255, 255, 255));
    text-align: right;
}

#hero img{
    margin-left:auto;
}

#hero div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*-Section1-----------------------------------*/

.st2{
    background-color: black;
}

#sect1 h1{
    color: #00d7d7;
}

#WdnWd{
    padding:1rem;
    display: flex;
    flex-direction: column;
    text-align: center;
}

WdnWd hr{
    background-color: aqua;
    width: 70%;
}

.divider {								
    display: table; 
    font-size: 24px; 
    text-align: center; 
    width: 75%; 						
    margin: 0px auto 30px;
}

.divider span { 
    display: table-cell; 
    position: relative; 
    
}
.divider span:first-child, .divider span:last-child {
    width: 49%;
    top: 13px;							
    background-size: 100% 2px; 			/* line width */
    background-position: 0 0, 0 100%;
    background-repeat: no-repeat;
}
.divider span:first-child {	
    background-image: linear-gradient(90deg, transparent, #00d7d7);
}
.divider span:nth-child(2) {
    color: #00d7d7; padding: 0px 5px; width: auto; white-space: nowrap;
}
.divider span:last-child {				
    background-image: linear-gradient(90deg, #00d7d7, transparent);
}

.biList{
    margin-bottom:2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:25px;
}

/*-Gallery-----------------------------------*/

#gallery div{
    padding:10vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    gap:10vh;
}

#gallery img{
        width: 25vw;
    }

/*-Comm-info-----------------------------------*/

#commsh div{
    margin: 2rem;
}

.cardgal{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.card{
    margin:1rem;
    background: linear-gradient(10deg, #00204c, #024247);
    border-radius: 10px;
    color:rgb(201, 235, 233);
    padding:20px;
    justify-items: center;
}

#FORM, #char, #ych, #concept, #gif, #scenes, #gallery, #commsh, #comics, #about, #ToS, #hero{
    scroll-margin-top: 130px;
}

/*-Comics-----------------------------------*/

#comics{
    padding:2rem;
}

.book{
    
    padding-top: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    
}

.book img{
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}

.book a{
    margin: 1rem auto 0 auto;
    text-align: center;
}

/*-About-----------------------------------*/

#about{
padding: 2rem;
}

#about img{
    display: block;
    margin: 0 auto 0 auto;
    filter: drop-shadow(0 0 9px rgb(48, 61, 140));
}

#icgal{
    margin-top: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:1rem;
}

#icgal a{
    padding:5px 0px 3px 10px;
}

.contict{
    padding-right: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:1rem;
    border: rgb(179, 179, 179) solid;
    border-radius: 10px;
    filter: drop-shadow(0 0 6px rgba(202, 202, 202, 0.841));
}

.contic{
    padding-right: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:1rem;
    border-radius: 10px;
}

#dsc{
    border:#675ee0 solid;
    filter: drop-shadow(0 0 5px#1100ff);
}

#ml{
    border: rgb(225, 86, 86) solid;
    filter: drop-shadow(0 0 6px rgb(230, 155, 155));
}

#bsky{
    border:#006aff solid;
    filter: drop-shadow(0 0 6px rgb(0, 106, 255));
}

/*-ToS-----------------------------------*/

#ToS div{
    margin: 1rem;
    background-color: rgba(0, 0, 0, 0.618);
    padding: 3rem;
    border-radius: 30px;
}

#ToS h3{
    padding: 1rem 0 1rem 0;
}

#ToS ol{
    letter-spacing: -0.5px;
    word-spacing: -0.5px;
    line-height: 24px;
}

/*-FORM-*/

#FORM div{
    
    backdrop-filter: blur(2px);
    background-color: #d7d7d7d0;
    width: 80vw;
    margin: 0 auto;

}

/*-Media-----------------------------------*/

@media(max-width: 1050px){
    .hideOnMobile{
        display: none;
    }
    .menu{
        display: block;
    }
    #gallery div{
        padding:5vh;
        grid-template-columns: 1fr 1fr;
    }
    #gallery img{
        width: 30vw;
    }
    .cardgal{
        grid-template-columns: 1fr;
    }
}

@media(max-width:630px){
    #icgal{
        grid-template-columns: 1fr;
    }
}

@media(max-width:
 400px){
    nav  .sidebar{
        width: 100%;
    }
    .low{
        margin-top: 70px;
        width: 80vw;
    }
    .biList{
        grid-template-columns: 1fr;
    }
    .book{
        grid-template-columns: 1fr;
    }
    
}