@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    box-sizing: border-box;
    font-family: 'Inter',sans-serif;
    margin:0;
    border:0;
}

h1{
    font-size: 50px;
    line-height: 64px;
    color:aliceblue
}

h2{
    font-size: 46px;
    line-height: 54px;
    color: aliceblue;
}

h4{
    font-size: 20px;
    color:aliceblue
}

h6{
    padding: 10px;
    font-weight: 700;
    font-size: 12px;
    color:rgb(115, 136, 155)
}

p{
    font-size: 16px;
    color:rgb(129, 255, 255);
    margin:15px 0 20px 0;
}

body{
    background-color: rgb(53, 47, 85); /* Temporary */
    width: 100%;
}

button{
    background-color: rgb(29, 113, 150);
    padding: 1.1rem 2rem;
    border:0
}

button a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 300;
    color:rgb(255, 255, 255)
}

/* Header --------------------------------------------*/

#header{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: space-between;
    padding:20px 60px 20px 30px;
    box-shadow: 0 5px 15px rgb(0,0,0,0.2);
    background-color: rgb(30, 56, 80);
    z-index: 999;
    top:0;
    left:0;
    position: sticky;
}

#nav{
    display:grid;
    align-items: center;
    justify-content: center;
    grid-template-columns:  1fr 1fr 1fr 1fr 1fr ;
}

#nav li{
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#nav li a{
    text-decoration: none;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    color:rgb(255, 255, 255);
    transition: 0.7s ease
}
#nav li a img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#nav li a:hover{
    color:rgb(147, 255, 251);
}

#nav li a.active::after {
    content:"";
    width:54%;
    height: 2px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    bottom:-4px;
    left: 20px;
}

#header button{
    display: block;
    margin-left: auto;
    margin-right: none;
}

/* Hero -----------------------------------------------*/

#hero{
    background-image: url("img/background/dream2.png");
    height: 90vh;
    width: 100%;
    background-position: top 25% right 0;
    padding: 80px 80px;
    align-items: center;
}

#hero.in-view h1{
    font-size:55px;
    transition: 1s;
    color: brown;
}